.header {
  height: 64px;
  background-color: #0A0A0A;
  border-bottom: #3D3D3D;
}

.image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 64px;
  width: 114px;
  margin-left: 28px;
}

.button-group {
  display: flex;
  margin-right: 25px;
}

.button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  border: #3D3D3D solid 1px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.button .material-icons {
  margin-right: 5px;
}

.rounded-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-right:active {
  background-color: #fff;
}

.rounded-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button:last-child {
  margin-right: 0;
}

.favorite-count {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  margin-left: 5px;
  border: 1px solid transparent;
}

.selected .favorite-count {
  border-color: #3D3D3D;
}

/* Media query para dispositivos com largura até 768px (tamanho de tablets e celulares em orientação paisagem) */
@media only screen and (max-width: 768px) {
  .image {
    margin: 0 10px;
  }

  .logo {
    width: 80px;
    height: auto;
    margin-left: 0;
  }

  .button-group {
    margin-right: 10px;
  }

  .button {
    padding: 5px;
    font-size: 12px;
  }
}
